* {
    box-sizing: border-box;
  }

body{
background-color:rgb(190, 58, 18);
margin: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}

.container{
background-color: white;
color: black;
font-family: Arial, Helvetica, sans-serif;
border-radius: 20px;
max-width: 400px;
text-align: center;
padding: 20px;
box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
height: 600px;
}

.container p{
color: black;
font-family: Arial, Helvetica, sans-serif;
padding: 30px;
justify-content: center;
}

.container img{
width: 350px;
height: 300px;
}



.btn{
background-color: rgb(5, 5, 94);
color: white;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
width: 100px;
border-radius: 20px;
height: 40px;
position: absolute;
padding: 12px 15px;
top: 0;
right: 0;
}

.form{

position: relative;
margin: 30px 0 20px;
}

.input{
    padding: 12px 15px;
    border-radius: 20px;
    height: 40px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}